# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/

# Android
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS/macOS
**/Pods/
**/.symlinks/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
